h1 {
  font-size: 28px;
}
 
h2 {
  font-size: 23px;
}

.xchem .viewport-wrapper {
	max-width: 1210px;
	margin: 0 auto;
}

.xchem .viewport-wrapper #viewer_toggle, .xchem .viewport-wrapper #guide_toggle, .xchem .viewport-wrapper #table_toggle {
	width: 100%;
	border: none;
	cursor: pointer;
	font-size: 15px;
	background: #006666;
	color: #ffffff;
	margin-top: 5px;
  padding: 5px 0;
}

.xchem .viewport-wrapper #viewer_toggle:focus, .xchem .viewport-wrapper #guide_toggle:focus, .xchem .viewport-wrapper #table_toggle:focus {
	outline: none;
	border: 2px solid #c2c2c2;
}

.xchem #example_wrapper {
	max-width: 1210px;
	margin: 0 auto;
}

.xchem #example {
	max-height: 1700px;
	overflow-y: scroll;
}

.xchem #example thead tr th {
  font-size: 14px;
  //text-transform: uppercase;
}

.xchem #example tbody tr td {
	text-align: center;
	font-size: 14px;
}

.xchem #example tbody tr td #map {
	background: red;
}

.xchem #example tbody tr td .map img {
	max-width: 130px;
}

.xchem #example_info, .xchem #example_paginate {
	margin-top: 3%;
}
